* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    /*-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

@font-face {
	font-family: 'icomoon';
	src:url('font/icomoon.eot?-qizry');
	src:url('font/icomoon.eot?#iefix-qizry') format('embedded-opentype'),
		url('font/icomoon.woff?-qizry') format('woff'),
		url('font/icomoon.ttf?-qizry') format('truetype'),
		url('font/icomoon.svg?-qizry#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icone-"], [class*=" icone-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icone-arma_fogo:before {
	content: "\e600";
}
.img-editor-canvas {
	/*display:block;*/
	width:500px;
	height:375px;
	margin-left:auto;
	margin-right:auto;
	/*-webkit-transform: scale(0.33, 0.33);
	-moz-transform: scale(0.33, 0.33);
	-ms-transform: scale(0.33, 0.33);
	/*-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);*/
	transform-origin:top left;
}
#menu_principal p {
	font-size:1em;
	font-weight:bold;
	margin:0.2em 0;
}
#menu_principal a {
	margin:0;
}
#menu_principal .icone {
	color:#999;
	width:1em;
	font-size:1.2em;
	float:left;
	margin:0.7em 0.1em 0 0.7em;
	text-align:center;
}
.evidencia_ordem {
	padding:3px;
	margin-top:0;
	width:1.7em;
	height:1.2em;
	font-size:2em;
	font-weight:bold;
	background-color:#FDB102;
	text-align:center;
	border-radius:0.2em;
}
.evidencia_ordem_texto {
	margin-top:14px;
	margin-right:5px;
	font-size:1.4em;
	font-weight:bold;
}
.ui-disabled {
	filter:Alpha(Opacity=80) !important;
	opacity:.8 !important;
}
.container_desenho {
	width:0;
	height:0;
	text-align:center;
	background-color:#CCC;
}
.container_desenho.is-dragging {
	opacity:0.50;
}
.item_desenho {
	width:100%;
	height:100%;
	background-color:#F6F;
}
.descricao::before {
	content:attr(data-nome);
	position:absolute;
	padding:5px;
	color:#000;
	background-color:#ccc;
	border:1px solid #000;
	border-radius:0.5em;
	top:-30px;
	white-space:nowrap;
}
.parede {
	width:50px;
	height:20px;
	background:url(../img/paredes/parede.svg) no-repeat top left;
	background-size:100% 100%;
}
.parede_vertical {
	width:20px;
	height:50px;
	background:url(../img/paredes/parede_vertical.svg) no-repeat top left;
	background-size:100% 100%;
}
.porta {
	width:50px;
	height:50px;
	background:url(../img/portas/porta.svg) no-repeat top left;
	background-size:100% 100%;
}
.eletro {
	width:50px;
	height:50px;
	background:url(../img/eletro/eletro.svg) no-repeat top left;
	background-size:100% 100%;
}
.arma_fogo {
	width:50px;
	height:50px;
	background:url(../img/armas/pistola.svg) no-repeat top left;
	background-size:100% 100%;
}
.corpo {
	width:60px;
	height:175px;
	background:url(../img/corpos/corpo.svg) no-repeat top left;
	background-size:100% 100%;
}
.clear {
	clear:both;	
}
#desenho_container {
	width:100%;
	height:400px;
	border-top:1px solid #666;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	border-left:1px solid #666;
	overflow:hidden;
}
#desenho_parametros {
	padding-right:40px;
	display:none;
}
#desenho_parametros .controle {
	text-align:center;
	float:right;
	margin:10px;
	width:150px;
}
#desenho_parametros .campos {
	text-align:left;
	float:right;
	margin:10px;
	width:300px;
}
#desenho_parametros .controle h2 {
	position:absolute;
	bottom:10px;
	margin-left:auto;
	margin-right:auto;
}
#desenho_categorias {

}

.desenho_menu .item {
	cursor:pointer;
	padding:15px;
	width:80px;
	height:100px;
	min-height:100px;
	border:1px outset #666;
	text-align:center;
	color:#aaa;
	display:inline-block;
	vertical-align:top;
}

.desenho_menu .voltar {
	color:#FFF;
	background-color:#444;
}

.desenho_menu .salvar {
	background-color:#369;
	cursor:pointer;
	padding:15px;
	width:80px;
	height:100px;
	min-height:100px;
	border:1px outset #666;
	text-align:center;
	color:#aaa;
	display:inline-block;
	vertical-align:top;
}

#desenho_eixos,
#desenho_grades,
#desenho_paredes,
#desenho_vaos,
#desenho_janelas,
#desenho_portas,
#desenho_eletro,
#desenho_corpos,
#desenho_armas {
	display:none;
}

.grade1 {
	background:url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
}

.grade2 {
    background-size: 40px 40px;
    background-image:repeating-linear-gradient(0deg, #fff, #fff 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 40px);
    height:100%;
    width:100%;
    opacity:0.14;
    /*position:absolute;*/
    top:0;
    left:0;
    z-index:-4;	
}

.grade_a {
	background-color: transparent;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .2) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .2) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .2) 75%, rgba(255, 255, 255, .2) 76%, transparent 77%, transparent);
	height:100%;
	background-size:40px 40px;
}

.grade_b {
	background-color: transparent;
	background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .6) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .6) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .6) 25%, rgba(255, 255, 255, .6) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .6) 75%, rgba(255, 255, 255, .6) 76%, transparent 77%, transparent);
	height:100%;
	background-size:200px 200px;
}
.grade {
/*background-color: #269;*/
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-image: -webkit-linear-gradient(gray 2px, transparent 2px),
    	              -webkit-linear-gradient(0, gray 2px, transparent 2px),
	                  -webkit-linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px),
	                  -webkit-linear-gradient(0, rgba(255,255,255,.15) 1px, transparent 1px);
	background-image: -moz-linear-gradient(gray 2px, transparent 2px),
	                  -moz-linear-gradient(0, gray 2px, transparent 2px),
	                  -moz-linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px),
	                  -moz-linear-gradient(0, rgba(255,255,255,.15) 1px, transparent 1px);
	background-image: linear-gradient(gray 2px, transparent 2px),
	                  linear-gradient(90deg, gray 2px, transparent 2px),
	                  linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px),
	                  linear-gradient(90deg, rgba(255,255,255,.15) 1px, transparent 1px);
}

.main {
	margin-right:30px;
	float:right;
	position:relative;
	width:7em;
	height:7em;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform: rotate(45deg);
	z-index:1000;
}

.quarter {
	border:1px solid #555;
	position:absolute;
	width:50%;
	height:50%;
	z-index:-1;
}

.main .quarter1 {
	position:absolute;
	top:0;
	left:0;
	background-color:#666;
	border-radius:100% 0 0 0;
	z-index:-1;
}

.main .quarter2 {
	position:absolute;
	top:0;
	right:0;
	background-color:#666;
	border-radius:0 100% 0 0;
	z-index:-1;
}

.main .quarter3 {
	bottom:0;
	left:0;
	background-color:#666;
	border-radius:0 0 0 100%;
	z-index:500;
}

.main .quarter4 {
	bottom:0; 
	right:0;
	background-color:#666;
	border-radius:0 0 100% 0;
	z-index:500;
}

.main .quarter1 .icone,
.main .quarter2 .icone
{
	color:#aaa;
	position:relative;
	top:0.2em;
	left:1em;
	transform:rotate(315deg);
	-moz-transform:rotate(315deg);
	-o-transform:rotate(315deg);
	-ms-transform:rotate(315deg);
	-webkit-transform:rotate(315deg);
}

.main .quarter3 .icone,
.main .quarter4 .icone
{
	color:#aaa;
	position:relative;
	top:0.2em;
	left:0.8em;
	transform:rotate(315deg);
	-moz-transform:rotate(315deg);
	-o-transform:rotate(315deg);
	-ms-transform:rotate(315deg);
	-webkit-transform:rotate(315deg);
}

.info_xy {
	margin-top:30px;
	float:left;	
}